.App {
  text-align: center;
  justify-content: start;
}

header {
  background-color: white;
  position: sticky;
  top: 0;
  height: 10vh;
  width: 100%;
  margin-bottom: 5%;
  z-index: 10
}

header {
  display: flex;
  align-items: center;
}

.thumbnails {
  margin: 2%;
}

header img {
  justify-content: flex-start;
  margin: 10px;
  height: 8vh;
}

button {
  font-weight: bold;
  font-size: 1vw;
  margin: 1%;
  height: 5vh;
  cursor: pointer;
  text-align: center;
}

.video {
  display: 'flex';
  height: 50%;
  justify-content: 'center';
  width: 50%;
}

.video-container {
  width: 100%;
}

.imgs {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  padding: 30px;
}
